{% extends "index.html" %}


{% block search %}

<form class="col-lg" action="{{url_for('search_by_title')}}" method="post">

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationTitle">Title</label>
      <input type="text" name="title" class="form-control" placeholder="Title" required />
    </div>

    <div class="col-md-6 mb-3">
      <label for="validationYear">Year</label>
      <input type="number" name="year" class="form-control" placeholder="Year" />
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Search</button>

</form>

{% endblock %}


{% block search_result %}

{% if movie %}

<div class="col-sm-3 mb-3" style="max-width: auto;">
  <img src="{{movie.Poster}}" class="img-thumbnail" alt="movie poster">
</div>

<div class="col-lg mb-3">
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">{{movie.Title}} ({{movie.Year}})</h5>
      <h6 class="card-title">Director: <small class="text-muted">{{movie.Director}}</small></h6>
      <h6 class="card-title">Starring: <small class="text-muted">{{movie.Actors}}</small></h6>
      <p class="card-text">{{movie.Plot}}</p>
      <p class="card-text mb-1"><small class="text-muted">Rating: {{movie.imdbRating}} &nbsp;&nbsp; Runtime:
          {{movie.Runtime}} &nbsp;&nbsp; Rated:
          {{movie.Rated}}</small></p>
      <p class="card-text"><small class="text-muted">{{movie.Genre}}</small></p>

      <a class="btn btn-primary" href="{{url_for('add_to_favorite', title=movie.Title)}}">Add to Favorites</a>

    </div>
  </div>
</div>

{% else %}
<div>No movies found.</div>
{% endif %}

{% endblock %}